In [ ]:
# Q 1
def maxx(a,b,c):
  print(max(a,b,c))
maxx(5,3,2)

5

In [ ]:
# Q 2
def calculation(a,b):
  n=a+b
  n1=a-b
  print(n,n1 )
calculation(40,10)

50 30

In [ ]:
# Q 3 
list1 = [11, 5, 17, 18, 23,4,8,25,157]
list2 = []
list3= []
def sumlist(list1):
  s=0
  for i in list1:
    if i % 2 !=0:
      s=s+i
      list2=s

  print(list2)
def multiplyList(List1) :
  re=1
  for i in list1:
    if i % 2 !=0:
      re=re*i
      list3=re
  print(list3)
sumlist(list1)
multiplyList(list1)

238
84407125

In [ ]:
# Q 4 
a=input("donner votre ph")
n=a.split("-")
n.sort()
print(n)

donner votre phgreen-red-yellow-black-white
['black', 'green', 'red', 'white', 'yellow']

In [61]:
# Q 5 :
import math
def calculation(d):
  d=d.split(",")
  mapobj=list(map(int,d))
  l = []
  for i in mapobj :
    Q = int(math.sqrt(2 * 50 * int(i) / 30))
    l.append(Q)
  return l

print(calculation(" 100,150,180"))

[18, 22, 24]