In [34]:
# Q 1 :


mylist =[2,3,6]
n= 1

for i in mylist:
	n = n * i
print(n)

36

In [35]:
# Q 3 :


d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}

for key in d1:
  if key in d2:
      d3[key]=d1[key]+d2[key]
d3["c"]=300
d3["d"]=400      
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [36]:
d1= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def takesecond(elem):
  return elem[1]
d1.sort(key=takesecond)
print(d1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [20]:
# Q 4:
a=int(input("dooner votre n "))
dec1={}
for i in range (1,a+1):
  dec1[i]=i*i
print(dec1)

dooner votre n 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [37]:
# Q 5 :

tuple1= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

for i in tuple1:
  v = float(i[1])
  print(v)
tuple1.reverse()
print(tuple1)

12.2
15.1
24.5
[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]