In [29]:
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5, 'np.nan', 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data, labels)
# three first rows...
h=df.head(3)
print(h)
  # remove  rows with Nan values
h1=df.drop(['d', 'h'])

    # extract name and score
extract=h1.drop(['qualify','attempts'] , axis=1)
  # add new row 
new_row={"name" : "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"}
labels="K"
h=extract.append( new_row, labels)
# remove attemps..
remove1=h.drop(['attempts'] ,axis=1)
# add new column
new=remove1.loc[0:9,'score']
list1=[]
for i in new:
  if 10 < i:
    list1.append(1)
  else:
    list1.append(0)
remove1["succes"]=list1 
remove1.to_csv('my_data.csv', index=False)
print(remove1)

        name score  attempts qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
this the final dataframe
        name score qualify  succes
0  Anastasia  12.5     NaN       1
1       Dima     9     NaN       0
2  Katherine  16.5     NaN       1
3      Emily     9     NaN       0
4    Michael    20     NaN       1
5    Matthew  14.5     NaN       1
6      Kevin     8     NaN       0
7      Jonas    19     NaN       1
8     Suresh  15.5     yes       1