# Rectify the code in each cell and **explain the error in comments**

### index error

In [ ]:
mylist=[14, "hello", 967]
mylist[6]
# theres no index 6 in mylist range just 3 so u need to fix mylist[6]to mylist[3 or 2 or 1 ]

IndexError: ignored

In [1]:
mylist=[14, "hello", 967]
mylist[0]

14

In [ ]:
import Pandas
import NumPy
# in this case name pandas and numpy are not correct so  u need to fix it to 
"""" import pandas or import pandas as pd""""
"""" import numpy or import numpy as np """" 
# with Lowercase letters

ImportError: ignored

In [5]:
import pandas as pd
import numpy as np
import pandas
import numpy

# syntax error

In [ ]:
Print"python errors"
# here you didnt use  this () after print 
"""" print("python errors")  """"

SyntaxError: ignored

In [6]:
print("python errors")

python errors

# key error

In [ ]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary['True']
# in dic if we use bool in call we just dont need to put it in two '' write the key as same u called first
"""" mydictionnary[True]  """"

KeyError: ignored

In [7]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]

'hello'

# indentation error

In [ ]:
i=14
while i<78:
print(i)
i+=1
# always after the two points : u need to use space or the programme u use it  he will do automatic  space
"""i=14
while i<78:

  print(i)
  i+=1"""

IndentationError: ignored

In [8]:
i=14
while i<78:

  print(i)
  i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [ ]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
next(it)
# in this list we have just 3 index so if u want to use next fonction u need just to call it 3 time 
"""it=iter([1,2,3])
next(it)
next(it)
next(it)
"""

StopIteration: ignored

In [9]:
it=iter([1,2,3])
next(it)
next(it)
next(it)

3

# TypeError

In [ ]:
'15'+15
# u cant add str and int together u need to transforme str to int not the opposite 
"""" 15+15  """"

TypeError: ignored

In [10]:
15+15

30

# ValueError

In [ ]:
int('python')
#we cant transfomre words to numbers just in case binairy type 
"""" str('python')    """"

ValueError: ignored

In [11]:
str('python')

'python'

# NameError

In [ ]:
python
# u need to add this "" or '' to anything u want to define
"""" "python"   """"

NameError: ignored

In [2]:
"python"

'python'

# ZeroDivisionError

In [ ]:
x=19/0
# in math u cant division any number by 0 just u use 1 or any number u want but 0 nope
""""x=19/1""""

ZeroDivisionError: ignored

In [14]:
x=19/1
print(x)

19